.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-thirds {
  flex-basis: 66.66%;
}

img {
  width: 100%;
}
